<%= render "shared/header" %>

<div class="registrations">
  <div class="title">新規登録</div>
  <div class="information">ユーザー情報を入力してください</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="label">
        <%= f.label :"ユーザー名（他のユーザーに公開されます）" %>
      </div>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :"お名前" %>
      </div>
      <%= f.text_field :full_name, autocomplete: "full_name" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :"会社名" %>
      </div>
      <%= f.text_field :corp_name, autocomplete: "corp_name" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :"メールアドレス" %>
      </div>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :"パスワード（半角英数6文字以上）" %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :"パスワード（確認のため、もう一度入力してください）" %>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "この内容でユーザー登録する" %>
    </div>
  <% end %>
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>

<%= render "shared/footer" %>