<%= render "shared/header" %>

<div class="sessions">
  <div class="title">ログイン</div>
  <div class="information">ユーザー情報を入力してください</div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <div class="label">
        <%= f.label :"メールアドレス" %>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレスを入力してください" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :"パスワード（半角英数6文字以上）" %>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワードを入力してください" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="remember_me">
          <%= f.label :"ログインしたままにする" %>
          <%= f.check_box :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログインする" %>
    </div>
  <% end %>
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>