<%= render "shared/header" %>

<div class="room-new">
  <div class="title">新しいチャットルームの作成</div>
  <div class="information">ルームの設定を入力してください</div>
  <%# 特に別モデルに飛ばしているわけではないので一旦urlは記述しない%>
  <%= form_with model: @room, local: true do |f| %>

  <div class="field">
      <div class="label">
        <%= f.label :"チャットルーム名" %>
      </div>
      <%= f.text_field :room_name, autofocus: true, placeholder:"ルーム名を入力してください" %>
  </div>

  <div class="field">
      <div class="label">
        <%= f.label :"入室パスワード" %>
      </div>
      <%= f.password_field :password, autofocus: true, placeholder:"半角英数6文字以上で入力してください" %>
  </div>

  <div class="field">
      <div class="label">
        <%= f.label :"入室パスワード" %>
      </div>
      <%= f.password_field :password_confirmation, autofocus: true, placeholder:"確認のため、もう一度入力してください" %>
  </div>

  <div class="actions">
    <%= f.submit "ルームを作成する" %>
  </div>

  <% end %>
</div>